html, body {
  font-family: "Segoe UI",Arial,sans-serif !important;
  /*background: #FAFAFB !important;*/
  background: #131313 !important; 
  color: #fff !important;
}

.black {
  background-color:#000000!important;
}
.app-main-menu {
  margin-top:10em;
}

.menu-icon {
  color: #aaaaaa;
}
.menu-icon:hover {
  text-decoration: none;
}

.header-icon {
  color: #aaaaaa;
  display: inline-flex;
}
.header-icon>span{
  font-size: 18px;
}
.header-icon:hover {
  text-decoration: none;
  cursor:pointer;
}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
  background-color: #131313 !important;
}

.ui.modal {
  background: none !important;
  margin: auto !important;
  top: 60px !important;
}
.modal > .content {
  font-size: 18px !important;
}
.modal > .header, .modal > .content {
  color: #000 !important;
}

label, .description, .header {
  color: #fff !important;
}
.appContent {
  height:100%;
}
.appContent > .container {
  padding-bottom: 195px;
}
.panel {
  background-color: #000000 !important;
  border: 1px solid #6F777D !important;
}
.form-error{
  color: red;
  font-size: 12px;
  position: absolute;
  top: 28px;
  right: 40px;
  bottom: 0px;
  font-weight: bold;
  z-index: 999;
}

.form-control{
  background-color: #131313!important;
  margin-bottom: 5px;
  box-shadow: none!important;
  color: #fff!important;
  font-size: 1.5em!important;
}

.form-control:focus{
  box-shadow: none !important;
  border-color: #A3A3A4 !important;
  outline-width: 0;
}

#city:focus{
  box-shadow: none !important;
  border-color: #A3A3A4 !important;
  outline-width: 0;
}

#city:active{
  box-shadow: none !important;
  border-color: #A3A3A4 !important;
  outline-width: 0;
}

#city {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.intl-tel-input{
  width: 100% !important;
}

.p50{
  padding: 50px;
}

.p15{
  padding: 15px;
}

.p25{
  padding: 25px;
}

.uth-panel{
  -webkit-box-shadow: 0px 0px 14px 0px rgba(206,205,206,1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(206,205,206,1);
  box-shadow: 0px 0px 14px 0px rgba(206,205,206,1);
}

.uth-panel-head{
  height: 30px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
}

.glyphicon {
  color: #B2B2B2;
}

.app-header{
  display: flex;
  height: 60px;
  /*background: #222;*/
  background: #000000;
  align-items: center;
  margin-bottom: 20px;
}

.header-links a{
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin: 0 30px;
}

.logo-a{
  width: 100px;
  height: 95px;
  margin-left: 0px;
  flex-basis: 20%;
}

.header-links{
  display: flex;
  width: 100%;
  align-items: initial;
  justify-content: flex-end;
}

.header-end{
  display: flex;
  align-items: initial;
  justify-content: flex-end;
  margin-right: 20px;
}

.header-search{
  display:flex;
  justify-content: center;
  margin: 0 40px;
  width:70%;
}

.searchbar{
  width:70%;
}

.searchbar input,.input-group-addon {
  border-radius: 1px !important;
  border-color: #525252 !important;
}
.search-glyph{
  top: 0 !important;
}
.tc{
  display: flex;
}

.btn{
  padding: 10px 20px !important;
  font-size: 15px !important;
}

.tc .form-error{
  position: absolute;
  top: 40px;
  right: 20px;
}

.tc label{
  text-align: justify;
}

.submit-section{
  text-align: center;
}

.btn-uth-submit:hover{
  background: #FFF;
  color: #4e585e;
  border: 2px solid #4e585e !important;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: bold;
}


.btn-uth-submit{
  background: #4e585e;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border: 2px solid transparent !important;
  font-weight: bold;
}

.footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.list-links{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
}

.list-links li{
  padding: 10px;
}

.small-text{
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 10px;
}

/*Heading section - secondary*/
.heading-section{
  text-align: center;
  margin: 50px;
}

.heading-section .main-heading{
  font-size: 30px;
}

.highlightme{
  color: #ff8484;
  font-weight: bold;
}

.meta-details{
  display: flex;
  align-content: center;
}

.help-text{
  line-height: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: #4e585e;
}

.panel-body {
  padding: 0px !important;
}

/*Registeration*/

.blood-requirements .requiree{
  padding: 10px 0px;
  border-bottom: 1px solid #ddd; 
  line-height: 23px;
}

.blood-requirements li:last-child{
  border: none;
}

.Select-menu-outer {
  z-index: 999 !important;
}

.Select-value{
  height: 34px;
}

.Select--single{
  width: 100%;
}

#PlacesAutocomplete__autocomplete-container{
  z-index: 9999;
}

.form-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px
}

.form-wrap div{
  flex-basis: 80% !important;
}

.form-wrap label{
  color: #4e585e;
  text-transform: capitalize;
  width: 20%;
  font-size: 13px;
}

/*Site footer*/

.site-footer{
  background: #000000;
  padding: 25px;
  z-index: 9999;
  position:absolute;
  bottom:0;
  width:100%;
  /* background: #f5f4f3;
  left:0;
  right:0; */
}

#root, #root > [data-reactroot] {
  min-height: 100vh;
  position: relative;
}
#root > [data-reactroot] > .container {
  padding-bottom: 160px;
}

.my-account-list {
  margin: 10px 20px 0!important;
  font-size: 15px!important;
}

.recent-listing-image {
  margin-top: 10px;
}

.favorite-listings > .item {
  margin-top:20px;
}

.favorite-listings > .item > .content {
  display: inline!important;
}

.favorite-listings > .item > img {
  float: left!important;
  margin-right: 20px!important;
}

.panel-black {
  font-size: 1em!important;
  background-color: #000000 !important;
  border: 1px solid #6F777D !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px!important;
}

.panel-black > .header {
  height: 30px;
  font-size: 1.5em !important;
  border-bottom: 1px solid #ddd!important;
}
.panel-black > .header > .icon {
  font-size: .75em !important;
  color: gray;
}

.dropdown {
  background: #131313!important;
}
.dropdown.icon{
  color: #fff;
}